@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --font-title: 'Space Mono';
    --font-body: 'Space Mono';
    --font-buttons: 'Space Mono';
    --color-fg: #eeeeee;
    --color-bg: #1b1b1b;
    --color-dimmed: #b4b4b4;
    --color-accent: #c8ae83;
    --color-accent-fg: #30302e;
}

body {
    background-color: var(--color-bg);
    margin: 0;
}

main {
    height: 100vh;
}
